<template>
  <div class="cartel has-text-centered">
    <h1 class="titulo">
      Workshop de Introducción a Vue
    </h1>
    <img src="@/assets/logo.png" width="150" height="150"/>
  </div>
</template>

<script>
export default {
  name: 'bienvenidos'
}
</script>

<style scoped>
.cartel {
  padding: 3rem;
}
.titulo {
  font-size: 5rem;
}
</style>
