<template>
  <nav
    aria-label="main navigation"
    role="navigation"
    class="navbar"
  >
    <div class="navbar-brand">
      <router-link class="navbar-item" to="/">
        <img src="@/assets/logo.png" width="28" height="28"/>
        <strong>{{ titulo }}</strong>
      </router-link>

      <a
        @click="mostrarMenu = !mostrarMenu"
        :class="claseDeMenu"
        class="navbar-burger burger"
        aria-expanded="false"
        data-target="navbar"
        aria-label="menu"
        role="button"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div
      :class="claseDeMenu"
      class="navbar-menu"
      id="navbar"
    >
      <div class="navbar-start">
        <router-link class="navbar-item" to="/propuestas">Propuestas</router-link>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" @click="mostrarModal">
              <strong>Proponer Tema</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Cabecera',
  props: [ 'titulo' ],
  data: () => {
    return {
      mostrarMenu: false
    }
  },
  computed: {
    claseDeMenu () {
      return { 'is-active': this.mostrarMenu }
    }
  },
  methods: {
    mostrarModal () {
      this.$store.dispatch('alternarModal')
    }
  }
}
</script>
