<template>
  <div class="modal" :class="{ 'is-active': mostrarModal }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Proponer Tema</p>
        <button class="delete" aria-label="close" @click="ocultrarModal"></button>
      </header>
      <section class="modal-card-body">
        <div class="has-text-centered">
          <h1>Aqui va el formulario para la nueva propuesta</h1>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary">Enviar</button>
        <button class="button" @click="ocultrarModal">Cancelar</button>
      </footer>
    </div>
  </div>

</template>

<script>
export default {
  name: 'nueva-propuesta',
  computed: {
    mostrarModal() {
      return this.$store.state.modalNuevaPropuesta
    }
  },
  methods: {
    ocultrarModal () {
      this.$store.dispatch('alternarModal')
    }
  }
}
</script>

<style scoped>
.modal-card-body {
  height: 25vh;
}
</style>

