<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Aplicación realizada en el <strong>Workshop de Introducción a Vue</strong> en el <strong>FLISoL 2019 - San Salvador de Jujuy</strong>
      </p>
      <p>
        <img src="@/assets/logo_FLISoL.png" width="128" height="128"/>
      </p>
    </div>
  </footer>
</template>
<style scoped>
footer {
  padding: 1.5rem;
}
</style>
