<template>
  <div>
    <cabecera titulo="Workshop"/>

    <nueva-propuesta/>

    <section class="principal">
      <router-view/>
    </section>

    <pie/>
  </div>
</template>

<script>
import Pie from '@/components/Pie'
import Cabecera from '@/components/Cabecera'
import NuevaPropuesta from '@/components/NuevaPropuesta'

export default {
  name: 'app',
  components: { Pie, Cabecera, NuevaPropuesta }
}
</script>

<style>
@import '../node_modules/bulma/css/bulma.css';

section.principal {
  padding: 3rem;
  min-height: 74vh;
}
</style>
